{% extends "layout.html" %}
{% block content %}
{% if session['userId'] and session['dept']=='pharmacy' %}

<h3>{{ title }}</h3>
<div>
    <form name="Patient" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <table >
        <thead>
        <tr>
            <th scope="col">Patient ID</th>
            <th scope="col">Patient ID</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Patient Age</th>
            <th scope="col">Address</th>
            <th scope="col">Date of Admission</th>
            <th scope="col">Bed</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td >{{ form.getDetails() }}</td>
                <td>{{ form.patientId }}</td>
                <td>{{ form.patientName }}</td>
                <td>{{ form.patientAge }}</td>
                <td>{{ form.patientAddress }}</td>
                <td>{{ form.dateAdmission }}</td>
                <td>{{ form.bed }}</td>

            </tr>
        </tbody>
    </table>
   

    {% if flag==1 %}
    <h3>Medicines Issued</h3>
        <table >
            <thead>
            <tr>
                <th scope="col">Medicine Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Rate</th>
                <th scope="col">Amount</th>
            </tr>
            </thead>
            {% for data in medicines %}
            <tbody>
                <tr>
                    <td scope='row'>{{ data["medName"]}}</td>
                    <td>{{ data["qty"]}}</td>
                    <td>{{ data["rate"]}}</td>
                    <td>{{ data["amount"]}}</td>

                </tr>
            </tbody>
            {% endfor %}
        </table>
</div>
    
    {{ form.issueMedicine() }}
</form>
{% endif %}

{% else %}
    <div class="alert-alert-danger">
        <p> <a href="{{ url_for('login') }}" >Please Login First </a>
        <br>Note: Only Pharmacist can  manage the medicines issued to the patients</p>
    </div>
{% endif %}
{% endblock %}